<div class="book-management-container">
  
  
  <button (click)="getUsers()" class="add-book-button">Kullanıcılar</button>
  <button (click)="addBook()" class="add-book-button">Kitap Ekle</button>
  <button (click)="getAllComment()" class="add-book-button">Tüm Yorumlar</button> 
  <button (click)="getAllBooks()" class="add-book-button">Tüm Kitaplar</button>
  <button (click)="getRole()" class="add-book-button">Role Ata</button>
  <button (click)="getComment()" class="add-book-button">Bekleyen Yorumlar</button>
  <button (click)="getRoleCreation()" class="add-book-button">Rol Oluştur</button>
  <router-outlet></router-outlet>  
</div>
